 <img src='../Pierian_Data_Logo.png' /></a>

**Data Types** <br>
1. Numbers <br>
2. Strings<br>
3. Lists<br>
4. Dictionaries<br>
5. Booleans<br>
6. Tuples <br>
7. Sets<br>

**Numbers:-** 
1. Addition(+)<br>
2. Subtraction(-)<br>
3. Multiplication (****)<br>***
4. Division (/)<br>
5. Remainder(%)<br>
6. Power(**)<br>
7. Expression<br>
8. Variable Assignment<br>

In [4]:
print("Sum of 1+2=",1+2)#Addition
print("Subtraction of 4-1=",4-1)#Subtraction(-)
print("Multiplication of 3*4=",3*4)#3.Multiplication (*)
print("Division of 12/3=",12/3)#4.Division (/)
print("Remainder of 14%3=",14%3)#5.Remainder(%)
print("Power of 3**4=",3**4)#6.Power(**)
print("Value of expression 3+4*2+6-1=",3+4*2+6-1)#7.Expression
print("Value of expression (3+4)*(2+6-1)=",(3+4)*(2+6-1))

Sum of 1+2= 3
Subtraction of 4-1= 3
Multiplication of 3*4= 12
Division of 12/3= 4.0
Remainder of 14%3= 2
Power of 3**4= 81
Value of expression 3+4*2+6-1= 16
Value of expression (3+4)*(2+6-1)= 49

**Printing**

In [29]:
var='hello'
#Print var variable as text. 
var

'hello'

In [32]:
#Print statement print only string,remove quote
print('hello!')
print("hello!")

hello!
hello!

**Variable Assignment** <br>
* Variable can't start with number or special character except Underscores _ <br>
* It is Case sensitive

Syntax: Variable_name=value

In [17]:
x=4
y=5
print(x)
print(y)

4
5

In [18]:
#Variable_name=Expression
z=x+y
z

9

In [21]:
#Reassign/update Variable
z=z+2
z

15

**String :-** 
1. String assigned in Single Quote<br>
2. String assigned in double Quote<br>
3. Single quote kept in double quote<br>
4. Macro Variable Assignment & Print String<br>
5. Index in the String<br>

In [22]:
# 1. String assigned in Single Quote
'My Name is Shashi Kumar'

'My Name is Shashi Kumar'

In [26]:
# 2. String assigned in double Quote
"My Name is Shashi Kumar"

'My Name is Shashi Kumar'

In [28]:
# 3. Single quote kept in double quote
"My Name is 'Shashi Kumar'"

"My Name is 'Shashi Kumar'"

In [34]:
#4. Assign varible treat as macro variable
Country='USA'
Country_Code=840

In [42]:
#Positional parameter:-
#Macro varible assign respective to position
print('His Country is {} and country code is {}'.format(Country,Country_Code))

His Country is USA and country code is 840

In [45]:
#Keyword Parameter:-
#Macro varible assign respective to keyword
print('His Country is {cnt} and country code is {code}'.format(cnt=Country,code=Country_Code))

His Country is USA and country code is 840

In [44]:
#keyword position can be change
print('His Country is {cnt} and country code is {code}'.format(code=Country_Code,cnt=Country))

His Country is USA and country code is 840

**Index**

In [47]:
#Assign & print Variable
var='Python'
var

'Python'

**Index:Extract 'n' character from String.** <br>
Syntex: variable_name[Starting Position:End Position] <br>
Note:- 
1. Charater Start from 0 (i.e position sequence: 'python'=[p=0,y=1,t=2,h=3,0=4,n=5)<br>
String : P Y T H O N <br>
Index  : 0 1 2 3 4 5
2. Starting Position included <br>
3. End Position excluded <br>

In [48]:
#Extract First charcter from the string
var[0]

'P'

In [49]:
#Extract first 3 charcter from the string
var[0:3]

'Pyt'

In [52]:
#Extract charcter 3rd  to 5th position characters from the string
var[2:5]

'tho'

**String Concatenation (+)** <br>
'+' symbol concatenate the words

In [102]:
print('I ' + 'love ' + 'Python.')

I love Python.

In [103]:
first = 'I'
second = 'love'
third = 'Python'
sentence = first + ' ' + second + ' ' +third + '.'
print(sentence)

I love Python.

**Repeating Strings**

In [104]:
print('-' * 10)
happiness = 'happy ' * 3
print(happiness)

----------
happy happy happy

**Formatting Strings**

In [113]:
print('I {} Python.'.format('love')) #first {} replace by first value of format function
print('{} {} {}'.format('I', 'love', 'Python.'))#first {} replace by first value of format function,
                                                #2nd {} replace by 2nd value of format function......

print('I {0} {1}. {1} {0}s me.'.format('love', 'Python'))
#Explicity specified which position of parameter will be useful for format field by providing number in {}
#{0} replaced by first parameter of format field.{1} replaced by 2nd parameter of format field

I love Python.
I love Python.
I love Python. Python loves me.

In [108]:
first = 'I'
second = 'love'
third = 'Python'
print('{} {} {}.'.format(first, second, third))

I love Python.

In [117]:
print('{0:8} | {1:8}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:8}'.format('Apple', 3))
print('{0:8} | {1:8}'.format('Orange', 10))

Fruit    | Quantity
Apple    |        3
Orange   |       10

**Formatting Strings Alignment**<br>
1.<:left<br>
2.^:Right<br>
3.>: Centre

In [114]:
print('{0:8} | {1:<8}'.format('Fruit', 'Quantity4'))#< denotes vales left aligned
print('{0:8} | {1:<8}'.format('Apple', 3))
print('{0:8} | {1:<8}'.format('Oranges', 10))

Fruit    | Quantity4
Apple    | 3
Oranges  | 10

In [119]:
# f :Float
# .Nf  N = The number of decimal places
print('{0:8} | {1:<8}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:<8.2f}'.format('Apple', 2.33333))#.2f:return value upto 2 decimal place,< denotes left align
print('{0:8} | {1:<8.2f}'.format('Oranges', 10))

Fruit    | Quantity
Apple    | 2.33
Oranges  | 10.00

**Exercise 1:**<br>
Let's assume you are planning to use your Python skills to build a social networking service.You decide to host your application on servers running in the cloud. You pick a hosting providerthat charges $0.51 per hour. You will launch your service using one server and want to know how much it will cost to operate per day and per month.<br>

Write a Python program that displays the answers to the following questions:<br>
How much does it cost to operate one server per day?,<br>
How much does it cost to operate one server per month?

In [9]:
Charge=0.51
cost_per_day=Charge*24
cost_per_month=cost_per_day*30
print("cost to operate one server per day=",cost_per_day)
print("cost to operate one server per month=",cost_per_month)

cost to operate one server per day= 12.24
cost to operate one server per month= 367.2

**Exercise 2:**<br>
Building on the previous example, let's also assume that you have saved dollar 918 to fund your new adventure. You wonder 
how many days you can keep one server running before your money runs out. Of course, you hope your social
network becomes popular and requires 20 servers tokeep up with the demand. How much will it cost to operate at that point?<br>

Write a Python program that displays the answers to the following questions:<br>
How much does it cost to operate one server per day?<br>
How much does it cost to operate one server per month?<br>
How much does it cost to operate twenty servers per day?<br>
How much does it cost to operate twenty servers per month?<br>
How many days can I operate one server with $918?

In [11]:
print("cost to operate one server per day=",cost_per_day)
print("cost to operate one server per month=",cost_per_month)
print("cost to operate twenty servers per day=",cost_per_day*20)
print(" cost to operate twenty servers per month=",cost_per_month*20)
print(" days can I operate one server with $918=",918/cost_per_day)

cost to operate one server per day= 12.24
cost to operate one server per month= 367.2
cost to operate twenty servers per day= 244.8
 cost to operate twenty servers per month= 7344.0
 days can I operate one server with $918= 75.0

**List[,]:-** A list is a data type that holds an ordered collection of items.The items can be of various data types.<br>
1. Assign Varible as numeric list <br>
2. Assign Varible as character list<br>
3. Assign Varible as numeric+character list<br>

4. Nested list<br>

In [13]:
#1.Assign Varible as numeric list 
num=[1,3,5,7]
num

[1, 3, 5, 7]

In [14]:
# 2.Assign Varible as character list 
char=['a','b','c']
char

['a', 'b', 'c']

In [15]:
#3.Assign Varible as numeric+character list
num_char=[1,2,'a']
num_char

[1, 2, 'a']

In [33]:
#Exception Handling
animals = ['man', 'bear', 'pig']

try:
 cat_index = animals.index('cat')
except:
 cat_index = 'No cats found.'
print(cat_index)

No cats found.

In [89]:
#Index : print 3rd to 5th values of list
num_char[2:4]

[2, 'a']

In [90]:
#Index : print last values from the list
#Negative indexing means starting from the end of the list.
num_char[-1]

'c'

In [95]:
#negative Index : print last to 3rd last values from the list
#This example returns the items from index -3 (included) to index -1 (excluded)
num_char[-3:-1]

[2, 'a']

**Nested List** <br>
List inside the other lists

In [99]:
#nest=[list1[lit2[list3]]]
nest = [1,2,3,[4,5,['King','Boy']]]

In [100]:
# Extract 2nd value from list 2
nest[3][1]

5

In [101]:
# Extract 2nd value from list 3
#variblename[position of 2rd list in 1nd list][position of 3rd list in 2nd list][position in 3rd list]
nest[3][2][1]

'Boy'

## Dictionaries

Hold key-value pairs called items.<br>
dictionary_name = {key_1: value_1, key_N: value_N}<br>
dictionary_name['key_1']=value_1<br>
dictionary_name['key_N']=value_N

In [35]:
#Assign Dictionary
d={'k1':[1,2,3],'k2':[4,5,6]}

In [36]:
#find the value of first key
d['k1']

[1, 2, 3]

In [37]:
#find the 1st index of key1
#dictionary_name[keyname][index]
d['k1'][1]

2

In [38]:
#Add item in the dictionary
d['k3']=[7,8,9]
d

{'k1': [1, 2, 3], 'k2': [4, 5, 6], 'k3': [7, 8, 9]}

In [39]:
#delete item in the dictionary:del keyword
del d['k3']
d

{'k1': [1, 2, 3], 'k2': [4, 5, 6]}

In [43]:
#determine the number of items in the dictionary
len(d)

2

## Nested Dictionaries

In [47]:
d={'k1':{'innerkey':[1,2,3]}}

In [48]:
#find the value of first key
d['k1']

{'innerkey': [1, 2, 3]}

In [49]:
d['k1']['innerkey'][1]

2

In [ ]:
Difference between List & Tuple
1.Tuples are immutable while lists are mutable.
2.

## Set

Set: It is a collection of unique elements.

In [51]:
s={1,2,3,4}
s

{1, 2, 3, 4}

In [52]:
s={1,1,2,2,2,2,3,4,4,4,4}
s

{1, 2, 3, 4}

In [53]:
#Convert List to set
set([1,1,2,2,2,2,3,4,4,4,4])

{1, 2, 3, 4}

In [54]:
#Add value in the Set
s.add(99)
s

{1, 2, 3, 4, 99}