**1.Comparators<br>
 2.Boolean Operators<br>
 3.Define Function<br>
4.looping: for/while::<br>**

## Comparators


1.== :Equalto<br>
2.> :Greater than<br>
3.>= :Greater than equalto<br>
4.< : Less than<br>
5.<= : Less than equalto <br>
6.!= : not equal to<br>

In [4]:
print("Equalto 1==2=",1==2)
print("Greater than 2<7=",2<7)
print("Greater than equal to 2<=2=",2<=2)
print("Less than 1>2=",1>2)
print("Less than equal to 1>=2 =",1>=2)
print("Not equal to 1!=2 =",1!=2)

Equalto 1==2= False
Greater than 2<7= True
Greater than equal to 2<=2= True
Less than 1>2= False
Less than equal to 1>=2 = False
Not equal to 1!=2 = True

## Boolean Operators


1.and=Evaluates to True if both statements are true,otherwise evaluates to False.<br>
2.or=Evaluates to True if either of the statements is true, otherwise evaluates to False.<br>
3.not=Evaluates to the opposite of the statement.<br>

**Truth Table**<br>
True and True is True<br>
True and False is False<br>
False and True is False<br>
False and False is False<br>

True or True is True<br>
True or False is True<br>
False or True is True<br>
False or False is False<br>

Not True is False<br>
Not False is True<br>

In [11]:
print("And:",(1<2)and (2>3))
print("or:",(1<2)or (2>3))
print("not:",not ((1<2)or (2>3)))

And: False
or: True
not: False

## Conditionals

"""
**if statement**
if condition:
    statement
    
**elif statement**
if condition1:
    statement1
elif condition2:
    statement2
elif condition3:
    statement3
else:
    statement4
 """

In [18]:
age=45

if age<30:
    print("<30")
elif (age >=30) and (age <=40):
    print(">=30 and <=40")
else:
    print(">40")

>40

In [20]:
age=45

if age<30:print("<30")
elif (age >=30) and (age <=40):print(">=30 and <=40")
else:print(">40")

>40

**Exercise 1:**<br>
Create a program that asks the user how far they want to travel. If they want to travel less than
three miles tell them to walk. If they want to travel more than three miles, but less than three
hundred miles, tell them to drive. If they want to travel three hundred miles or more tell them to
fly.

In [14]:
# Ask for the distance.
travel = input('How far would you like to travel in miles? ')
# Convert the distance to an integer.
travel = int(travel)

How far would you like to travel in miles? 900

In [15]:
if travel <3 :
    mode_of_transport="Walk"
elif (travel >3) and (travel <300 ):
    mode_of_transport="Drive"
elif travel >300 :
    mode_of_transport="Flying"

 # Display the result.
print('I suggest {} to your destination.'.format(mode_of_transport))

I suggest Flying to your destination.

## Function


Syntax:
    def function_name(parameter_name):
         Code block
         
Function define by keyword "def".A function can accept parameters. To make a parameter optional supply a default value for that parameter.

In [32]:
#Define Function
def first_func():
    print("hello")

#Call function
first_func()

hello

In [33]:
#Define Function with positional parameter
def first_func(p):
    print(p)

#Call function
first_func("Hello")

Hello

In [37]:
#Define Function with keyword parameter
def first_func(x,y):
    z=x+y
    return z

#Call function
first_func(x=2,y=4)

6

In [38]:
#in keyword paremeter position can be change but value will be assign parameter=
first_func(y=4,x=2)

6

In [35]:
#Define Function with positional parameter
def first_func(x,y):
    z=x+y
    return z

#Call function
first_func(2,4)

#in positional parameter position always refer defined function parameter.

6

## For loop:-<br>

for item_variable in list_name:<br>
            Code block
            
 Use for loop to perform the repetative calculations,there are several form of iterations.

In [39]:
seq=[1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [40]:
seq=["Shashi","Mohan","Ram"]
for i in seq:
    print(i)

Shashi
Mohan
Ram

In [41]:
for x in range(0,5):print(x)

0
1
2
3
4

## list comprehension

In [53]:
x=[1,2,3,4]
out=[]
for num in x:
    out.append(num**3)
    
print(out)

[1, 8, 27, 64]

In [54]:
#other way can write for loop
x=[8,9,5]
result=[num**3 for num in x]
result

[512, 729, 125]

## while loop

 while condition:
 # Code block
 
 1.while statement exceute statement in a loop respectively while the condition is true.
 2.The value of expression evaluated at top of the loop
 3.The statement in the loop never excecute if expression is initally false

In [55]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## Functions

1.len(): Returns the length of an item<br>
2.str():used to convert the specified value into a string.<br>
3.upper():Returns a copy of the string in uppercase<br>
4.lower():Returns a copy of the string in lowercase<br>
5.format(): Returns a formatted version of the string<br>
6.int():Convert string to integer<br>
7.float(): convert string/interger to float<br>
8.split():returns a list of strings after breaking the given string by the specified separator.

In [85]:
#int():Convert string to integer
sales='3'
total=int(sales)+2
total_f=float(total)
print("Integer value=",total)
print("Float value=",total_f)

Integer value= 5
Float value= 5.0

In [95]:
name="Shashi"
print("Length=",len(name))
print("Upper=",name.upper())
print("Lower=",name.lower())
print("Split=",name.split('a'))
print('string=',str('2')+'sk')

Length= 6
Upper= SHASHI
Lower= shashi
Split= ['Sh', 'shi']
string= 2sk

## List Functions


1.index():searches an element in the list and returns its index <br>
2.append():adds an item to the end of the list <br>
3.extend():adds one or more than one item to the end of the list <br>
4.insert():insert/add value according to defined index/position<br>
5.remove():removes the first matching element (which is passed as an argument) from the list.<br>
6.count():counts how many times an element has occurred in a list and returns it.<br>
7.pop():removes the item at the given index from the list and returns the removed item.<br>
8.reverse():reverses the elements of a given list.<br>
9.sort():sorts the elements of a given list in a specific order - Ascending or Descending<br>
10.copy():returns a shallow copy of the list<br>
11.range():The built-in range() function generates a list of numbers.

In [62]:
#Assign Varible as numeric+character list
num_char=[1,2,'a']
num_char

[1, 2, 'a']

In [63]:
#Add one value in list
num_char.append('c')
num_char

[1, 2, 'a', 'c']

In [64]:
#Add multiple value in list
num_char.extend(['c','k'])
num_char

[1, 2, 'a', 'c', 'c', 'k']

In [65]:
#insert/add value according to defined index/position
num_char.insert(1,"shashi") #insert "shashi" at index 1
num_char

[1, 'shashi', 2, 'a', 'c', 'c', 'k']

In [66]:
#Replace/change Value in list: Replace 1 with k

num_char[:0]='k'
num_char

['k', 1, 'shashi', 2, 'a', 'c', 'c', 'k']

In [67]:
#Finding an item in a list.
#method finds the given element in a list and returns its position.If the same element is present more than once, 
#the method returns the index of the first occurrence of the element.
res=num_char.index("shashi") 
res

2

In [68]:
#Remove element from the list
#The remove() method removes the first matching element (which is passed as an argument) from the list.
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

In [69]:
#Pop item at the given index from the list
#The pop() method removes the item at the given index from the list and returns the removed item.

# remove and return the 4th item
return_value = animals.pop(2)
print('Return Value:', return_value)

# Updated List
print('Updated List:', animals)

Return Value: guinea pig
Updated List: ['cat', 'dog']

In [70]:
#Count the occurrence of an element in the list
#count() method counts how many times an element has occurred in a list and returns it.

# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')

# print count
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')

# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [71]:
#Reverse a List
#The reverse() method reverses the elements of a given list.
list_a=['a','b','c']
list_a.reverse()
# updated list
print('Updated List:', list_a)

Updated List: ['c', 'b', 'a']

In [72]:
#Sort a given list
#The sort() method sorts the elements of a given list in a specific order - Ascending or Descending.
#The syntax of sort() method is:
#list.sort(key=..., reverse=...)

# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
vowels.sort()

# print vowels
print('Sorted list:', vowels)

# sort the vowels
vowels.sort(reverse=True)

# print vowels
print('Sorted list (in Descending):', vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']
Sorted list (in Descending): ['u', 'o', 'i', 'e', 'a']

In [73]:
#Copying a List
#The copy() method returns a shallow copy of the list.
# mixed list
list = ['cat', 0, 6.7]

# copying a list
new_list = list.copy()

# Adding element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List: ', list)
print('New List: ', new_list)

Old List:  ['cat', 0, 6.7]
New List:  ['cat', 0, 6.7, 'dog']

In [74]:
#The clear() method removes all items from the list.

# Defining a list
list = [1,2,3]

# clearing the list
list.clear()

print('List:', list)

List: []

In [75]:
# Remove value from list :remove() function: Remove 'K' from list
num_char.remove('k')
num_char

[1, 'shashi', 2, 'a', 'c', 'c', 'k']

In [112]:
#The Syntax is: range(start, stop, step)
print(" Range 0 to 10= ",list(range(0,10)))
print("Range 0 to 10 by 2 =",list(range(0,10,2)))

 Range 0 to 10=  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Range 0 to 10 by 2 = [0, 2, 4, 6, 8]

## lambda

In [ ]:
lambda arguments : expression

In [102]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [103]:
def time(var):return var*2

time(2)

4

In [104]:
t=lambda var : var*2
t(2)

4

## Filter

The filter() method filters the given iterable with the help of a function that tests each 
element in the iterable to be true or not. <br>

Syntax:<br>
filter(function, iterable)

* function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
* iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators

In [109]:
#del list
seq=[1,2,3,4]
list(filter(lambda num:num%2==0,seq))

[2, 4]