## NumPy

NumPy provides an N-dimensional array type, the ndarray, which describes a collection of “items” of the same type. The items can be indexed using for example N integers.

All ndarrays are homogenous: every item takes up the same size block of memory, and all blocks are interpreted in exactly the same way. How each item in the array is to be interpreted is specified by a separate data-type object, one of which is associated with every array. In addition to basic types (integers, floats, etc.), the data type objects can also represent data structures.

In [4]:
#install numpy package
#!pip install numpy
import numpy as np

## 1) Array Creation

### 1.1 From function

In [12]:
#np.arange([start,] stop[, step,], dtype=None)
list_arr=np.arange(0,11,2)
list_arr2=np.arange(4,11,step=2,dtype=float)
print("Array1:=",list_arr)
print("Float Array:=",list_arr2)
print("Type:=",type(list_arr))

Array1:= [ 0  2  4  6  8 10]
Float Array:= [ 4.  6.  8. 10.]
Type:= <class 'numpy.ndarray'>

### 1.2 From List

In [14]:
# Convert list to array
my_list=[1,2,3,4,5]
my_arr=np.array(my_list)
print("List:",my_list)
print("Convert list to Array:",my_arr)

List: [1, 2, 3, 4, 5]
Convert list to Array: [1 2 3 4 5]

In [20]:
# Convert 2d-list to array
my_list2d=[[1,2],[3,4,5]]
my_arr2d=np.array(my_list2d)
print("List:",my_list2d)
print("Convert list to Array:",my_arr2d)
print("Numpy array should be homogeneous")

List: [[1, 2], [3, 4, 5]]
Convert list to Array: [list([1, 2]) list([3, 4, 5])]
Numpy array should be homogeneous

In [25]:
# Convert 2d-list to array
my2_list2d=[[1,2,8],[3,4,5]]
my2_arr2d=np.array(my2_list2d)
print("List:",my2_list2d)
print("Convert list to Array:",my2_arr2d)
print("All list have same length")

List: [[1, 2, 8], [3, 4, 5]]
Convert list to Array: [[1 2 8]
 [3 4 5]]
All list have same length

In [27]:
# Convert 2d-list to array
my2_list2d=[[1,2,8],[3,4,5],["a",'b','c']]
my2_arr2d=np.array(my2_list2d)
print("List:",my2_list2d)
print("Convert list to Array:",my2_arr2d)
print("All list have same length,list may be integer or character")

List: [[1, 2, 8], [3, 4, 5], ['a', 'b', 'c']]
Convert list to Array: [['1' '2' '8']
 ['3' '4' '5']
 ['a' 'b' 'c']]
All list have same length,list may be integer or character

### 1.3 Character array

In [36]:
charar = np.chararray((3,3))
charar[:] = 'abc'
print("Chharacter Array:=",charar)
print("default length of character(itemsize)=1")

Chharacter Array:= [[b'a' b'a' b'a']
 [b'a' b'a' b'a']
 [b'a' b'a' b'a']]
default length of character(itemsize)=1

In [38]:
print("length of character(itemsize)=5")
charar = np.chararray(charar.shape, itemsize=5)
charar[:] = 'abc'
charar

length of character(itemsize)=5

chararray([[b'abc', b'abc', b'abc'],
           [b'abc', b'abc', b'abc'],
           [b'abc', b'abc', b'abc']], dtype='|S5')

### 1.4 Some others arrays

In [39]:
#Zero matrix
np.zeros(4)

array([0., 0., 0., 0.])

In [40]:
#Zero matrix 3X3
#zeros(shape, dtype=float, order='C')
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [53]:
#ones(shape, dtype=None, order='C')
np.ones(3)

array([1., 1., 1.])

In [54]:
#one matrix 3x3
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [41]:
#Identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [42]:
#linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)
#Return evenly spaced numbers over a specified interval.
np.linspace(0,100,5)

array([  0.,  25.,  50.,  75., 100.])

In [49]:
#arange vs linspace
print("Arrange :Return evenly spaced values within a given interval")
print("linspace :Return evenly spaced numbers over a specified interval.")
print("Arrange:-",np.arange(start=0,stop=11,step=2)) #default step=1
print("linspace:-",np.linspace(start=0,stop=11,num=2))#default num=50

Arrange :Return evenly spaced values within a given interval
linspace :Return evenly spaced numbers over a specified interval.
Arrange:- [ 0  2  4  6  8 10]
linspace:- [ 0. 11.]

In [55]:
#random sample values between [0,1] in uniform distribution: 1 dimension
np.random.rand(4)

array([0.93032483, 0.93966808, 0.45923146, 0.59259354])

In [56]:
#random sample values between [0,1] in uniform distribution:-2Dimension
np.random.rand(3,3)

array([[0.15753092, 0.53090276, 0.80436684],
       [0.84090029, 0.46736963, 0.3610907 ],
       [0.11331221, 0.25455296, 0.41113375]])

In [57]:
#in normal distribution(not uniform distribution)
np.random.randn(4)

array([ 0.30485635, -0.09628324,  0.54596304, -0.50846178])

In [62]:
# random integers
print("Random integer array values from 1 to 10 with size=8")
np.random.randint(1,10,8)

Random integer array values from 1 to 10 with size=8

array([6, 8, 9, 6, 6, 2, 1, 1])

## 2) Operations

### 2.1 Addition, Subtraction, Multiplication, Division

In [95]:
arr1=np.arange(1,12)
arr2=np.arange(11,22)
my2_arr2d=np.array([[1,2,8],[3,4,5]])
print("arr1:",arr1)
print("arr2:",arr2)
print("2d Array=:",my2_arr2d)

arr1: [ 1  2  3  4  5  6  7  8  9 10 11]
arr2: [11 12 13 14 15 16 17 18 19 20 21]
2d Array=: [[1 2 8]
 [3 4 5]]

In [73]:
# Shape must be same
#All Operrations: element by element
Add=arr2+arr1
Sub=arr2-arr1
Mult=arr2*arr1
Div=arr2/arr1
Rem=arr2%arr1
print("arr1:",arr1)
print("arr2:",arr2)
print("Addition:=",Add)
print("Subtraction:=",Sub)
print("Multiplication:=",Mult)
print("Division:=",Div)
print("Remainder:=",Rem)

arr1: [ 1  2  3  4  5  6  7  8  9 10 11]
arr2: [11 12 13 14 15 16 17 18 19 20 21]
Addition:= [12 14 16 18 20 22 24 26 28 30 32]
Subtraction:= [10 10 10 10 10 10 10 10 10 10 10]
Multiplication:= [ 11  24  39  56  75  96 119 144 171 200 231]
Division:= [11.          6.          4.33333333  3.5         3.          2.66666667
  2.42857143  2.25        2.11111111  2.          1.90909091]
Remainder:= [ 0  0  1  2  0  4  3  2  1  0 10]

In [101]:

#https://docs.scipy.org/doc/numpy/reference/ufuncs.html

Mul_all=arr2*3
Power=arr2**2
sqrt=np.sqrt(arr2)
Exp=np.exp(arr2)
Min=np.min(arr2)
Max=np.max(arr2)
Shape=my2_arr2d.shape
Reshape=my2_arr2d.reshape(3,2)
Type=arr2.dtype
arg_min=arr2.argmin()#Return index of min value
arg_max=arr2.argmax()#Return index of max value
Sin=np.sin(arr2)
Cos=np.cos(arr2)

print("Multiplication by 3=",Mul_all)
print("Power of 2=",Power)
print("Square:=",sqrt)
print("Exponential=",Exp)
print("Minimum=",Min)
print("Maximum=",Max)
print("Dimension:=",Shape)
print("Reshape 3x2:=",Reshape)
print("Type:=",Type)
print("Index Min value=",arg_min)
print("Index Max value=",arg_max)
print("Sin =",Sin)
print("Cos =",Cos)

Multiplication by 3= [33 36 39 42 45 48 51 54 57 60 63]
Power of 2= [121 144 169 196 225 256 289 324 361 400 441]
Square:= [3.31662479 3.46410162 3.60555128 3.74165739 3.87298335 4.
 4.12310563 4.24264069 4.35889894 4.47213595 4.58257569]
Exponential= [5.98741417e+04 1.62754791e+05 4.42413392e+05 1.20260428e+06
 3.26901737e+06 8.88611052e+06 2.41549528e+07 6.56599691e+07
 1.78482301e+08 4.85165195e+08 1.31881573e+09]
Minimum= 11
Maximum= 21
Dimension:= (2, 3)
Reshape 3x2:= [[1 2]
 [8 3]
 [4 5]]
Type:= int32
Index Min value= 0
Index Max value= 10
Sin = [-0.99999021 -0.53657292  0.42016704  0.99060736  0.65028784 -0.28790332
 -0.96139749 -0.75098725  0.14987721  0.91294525  0.83665564]
Cos = [ 0.0044257   0.84385396  0.90744678  0.13673722 -0.75968791 -0.95765948
 -0.27516334  0.66031671  0.98870462  0.40808206 -0.54772926]

In [90]:
arr1=np.arange(1,6)
arr2=np.arange(11,22)
print("arr1:",arr1)
print("arr2:",arr2)

arr1: [1 2 3 4 5]
arr2: [11 12 13 14 15 16 17 18 19 20 21]

In [94]:
#Both Array have differnt shape so error occurs..
Add=arr2+arr1
print("Addition:=",Add)

ValueError: operands could not be broadcast together with shapes (11,) (5,)

## Conditional Operations

In [125]:
arr=np.arange(11,21)
arr

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [126]:
#Boolean Array
arr>13

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [127]:
#array_name[condition]
arr[arr>13]

array([14, 15, 16, 17, 18, 19, 20])

In [128]:
#true condition with index array
np.where(arr>13)

(array([3, 4, 5, 6, 7, 8, 9], dtype=int64),)

In [129]:
arr[np.where(arr>13)]

array([14, 15, 16, 17, 18, 19, 20])

## Indexing

In [108]:
arr=np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [109]:
#find 9th position of array
arr[8]

9

In [110]:
#find 2nd position to 4th  position of array
#array[Star:end] #start:included & end:excluded
arr[1:5]

array([2, 3, 4, 5])

In [111]:
#find array up to 4th position
arr[:5]

array([1, 2, 3, 4, 5])

In [112]:
#find array position 4th to last position
arr[5:]

array([ 6,  7,  8,  9, 10])

In [130]:
#create 2-d array
arr_2d=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [131]:
#Find first array from 2d
arr_2d[0]

array([1, 2, 3])

In [132]:
#Find 2nd position from first array 
array_name[row][column]
arr_2d[0][1]

2

In [133]:
#array_name[row,column]
arr_2d[0,1]

2

## Replace values from array

In [134]:
arr=np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [135]:
#Replace all values with 99
arr[:]=99
arr

array([99, 99, 99, 99, 99, 99, 99, 99, 99, 99])

In [136]:
arr=np.arange(1,11)
#Replace values 1st position to 5th position as 99
arr[0:5]=99
arr

array([99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

## Array Copy

In [141]:
arr=np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [142]:
arr2=arr[0:6]
arr2

array([1, 2, 3, 4, 5, 6])

In [143]:
arr2[:]=99
arr2

array([99, 99, 99, 99, 99, 99])

In [144]:
arr

array([99, 99, 99, 99, 99, 99,  7,  8,  9, 10])

#### if we replace value in the copied array  ,it will affect the original array also.

In [147]:
arr=np.arange(1,11)
arr3=arr.copy()
arr3[0:5]=99
print("arr=",arr)
print("Copy array =",arr3)

arr= [ 1  2  3  4  5  6  7  8  9 10]
Copy array = [99 99 99 99 99  6  7  8  9 10]

#### if we replace value in the copied(use copy()) array  ,it will not affect the original array.